.container {
    background-color: rgb(250, 250, 250);
    padding: 5px;
    min-height: calc(100vh - 60px);
}
.articole {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
}
.articol {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 20px;
}
.topArticol {
    /* float: left; */
    display: flex;
    flex-direction: row;
    /* text-align: left; */
    width: 100%;
    align-items: center;
}
.articolImg {
    width: 40px; 
    height: 40px; 
    border-radius: 100%;
}
.topText {
    justify-content: center;
    margin-left: 10px;
    text-align: center;
}
.userName {
    font-weight: bold;
}
.userName:hover {
    cursor: pointer;
    text-decoration: underline;
}
.articolInteraction {
    /* float: left; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* background-color: blueviolet; */
    /* position: relative; */
    /* left: 0px; */
    margin-left: 0px;
    align-items: center;
    align-content: center;
}
.articolInteraction p{
    margin-left: 10px;
}

/* telefon*/
    .articole {
        width: 100%;
        left: 0px;
        right: 0px;
    }

/*tablete*/
@media only screen and (min-width: 600px) {
    .articole {
        width: 70%;
        left: 15%;
        right: 15%;
        border-radius: 15px;
    }
}

/*desktop*/
@media only screen and (min-width: 769px) {
    .articole {
        width: 50%;
        left: 25%;
        right: 25%;
        border-radius: 15px;
    }
}
.articol h1:hover {
    text-decoration: underline;
    cursor: pointer;
}
