.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.mainDiv form {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}
.mainDiv form textarea {
    resize: none;
}
.mainDiv form input[type='text'] {
    border: none;
    background-color: rgb(216, 216, 216);
    border-radius: 25px;
    padding: 0 20px;
    height: 30px;
    width: 100%;
}
.mainDiv form select {
    border: none;
    background-color: rgb(216, 216, 216);
    border-radius: 25px;
    padding: 0 20px;
    height: 30px;
    width: 100%;
}
.mainDiv form textarea {
    border: none;
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
    padding: 0 10px;
    font-family: inherit;
    width: 100%;
}
.mainDiv form input[type='submit'] {
    height: 30px;
    width: 100px;
}

/* cod telefon: */
.mainDiv form {
    width: 85%;
}
/* cod telefon: */

@media only screen and (min-width: 600px) { /* Tablete */
    .mainDiv form {
        width: 60%;
    }
}
@media only screen and (min-width: 769px) { /* Desktop */
    .mainDiv form {
        width: 30%;
    }
} 